<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Data Viewer</title>
  <link rel="stylesheet" href="css/daily/dailydata.css">
</head>
<body>
<div th:replace="~{layout/header :: header}"></div>
<section class="form-con">
    <form id="stock-form">
      <label for="symbol" class="vision-label">Stock Symbol:</label>
      <input type="text" id="symbol" name="symbol" required>

      <label for="start-date" class="vision-label">Start Date:</label>
      <input type="date" id="start-date" name="start-date">

      <label for="end-date" class="vision-label">End Date:</label>
      <input type="date" id="end-date" name="end-date">

      <button type="submit" class="vision-btn" aria-label="Get Stock Data">GET STOCK DATA</button>
    </form>
  </section>
<main>
  <section id="stock-data">
  </section>
</main>
<script src="js/daily/dailydata.js"></script>
</body>
</html>
